<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" parallel="methods" preserve-order="true" name="ResRes Automation Tests">
        <classes>
            <class name="com.reqres.automation.BackEndAutomation"/>
        </classes>
    </test>
</suite>